nodered-flow.json
[
  {
    "id": "solar-tab",
    "type": "tab",
    "label": "Solar Push",
    "disabled": false,
    "info": "Fetches the full Signal K vessels/self tree every 30 s and POSTs all available data to a remote PHP endpoint. Also writes to InfluxDB v2 in line protocol."
  },
  {
    "id": "venus-reboot-tab",
    "type": "tab",
    "label": "Venus Reboot",
    "disabled": false,
    "info": "Scheduled and manual reboot of Venus OS via Victron D-Bus. Device-agnostic MPPT restart via MQTT. Portal ID and device instances are discovered at startup."
  },
  {
    "id": "mqtt-broker-local",
    "type": "mqtt-broker",
    "name": "Venus OS local MQTT",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  },

  {
    "id": "inject-timer",
    "type": "inject",
    "z": "solar-tab",
    "name": "Every 30 s",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 120,
    "wires": [["get-signalk"]]
  },
  {
    "id": "get-signalk",
    "type": "http request",
    "z": "solar-tab",
    "name": "GET Signal K vessels/self",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3000/signalk/v1/api/vessels/self",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "x": 310,
    "y": 120,
    "wires": [["parse-payload"]]
  },
  {
    "id": "parse-payload",
    "type": "function",
    "z": "solar-tab",
    "name": "Parse everything",
    "func": "// ── Helpers ──────────────────────────────────────────────────────────────────\nfunction val(node) {\n    if (node && typeof node === 'object' && 'value' in node) return node.value;\n    return (node === undefined) ? null : node;\n}\nfunction r2(v)       { return (v === null || v === undefined) ? null : Math.round(v * 100) / 100; }\nfunction K2C(v)      { return v !== null ? r2(v - 273.15) : null; }\nfunction J2Wh(v)     { return v !== null ? r2(v / 3600)   : null; }\nfunction frac2pct(v) { return v !== null ? r2(v * 100)    : null; }\nfunction rad2deg(v)  { return v !== null ? r2(v * 180 / Math.PI) : null; }\nfunction m32L(v)     { return v !== null ? r2(v * 1000)   : null; }\nfunction sec2min(v)  { return v !== null ? r2(v / 60)     : null; }\nfunction sec2h(v)    { return v !== null ? r2(v / 3600)   : null; }\nfunction C2A(v)      { return v !== null ? r2(v / 3600)   : null; }\n\nconst self  = msg.payload || {};\nconst elec  = self.electrical  || {};\nconst env   = self.environment || {};\nconst tanks = self.tanks       || {};\nconst nav   = self.navigation  || {};\nconst prop  = self.propulsion  || {};\n\n// ── Solar / MPPT chargers ─────────────────────────────────────────────────────\nconst solar = {};\nfor (const [id, c] of Object.entries(elec.solar || {})) {\n    if (typeof c !== 'object') continue;\n    const pv = val(c.panelVoltage);\n    const pc = val(c.panelCurrent);\n    const pp = val(c.panelPower);\n    solar[id] = {\n        panelVoltage_V:   r2(pv),\n        panelCurrent_A:   r2(pc),\n        panelPower_W:     r2(pp ?? (pv !== null && pc !== null ? pv * pc : null)),\n        outputVoltage_V:  r2(val(c.voltage)),\n        outputCurrent_A:  r2(val(c.current)),\n        outputPower_W:    r2(val(c.power)),\n        yieldToday_Wh:    J2Wh(val(c.yieldToday)),\n        yieldYesterday_Wh:J2Wh(val(c.yieldYesterday)),\n        yieldTotal_Wh:    J2Wh(val(c.yieldTotal)),\n        maxPowerToday_W:  r2(val(c.maxPowerToday)),\n        controllerMode:   val(c.controllerMode),\n        errorCode:        val(c.errorCode),\n        chargeState:      val(c.chargeState),\n        temperature_C:    K2C(val(c.temperature)),\n    };\n}\n\n// ── Battery banks ─────────────────────────────────────────────────────────────\nconst batteries = {};\nfor (const [id, b] of Object.entries(elec.batteries || {})) {\n    if (typeof b !== 'object') continue;\n    const cap = b.capacity || {};\n    batteries[id] = {\n        voltage_V:           r2(val(b.voltage)),\n        current_A:           r2(val(b.current)),\n        power_W:             r2(val(b.power)),\n        stateOfCharge_pct:   frac2pct(val(cap.stateOfCharge)),\n        timeRemaining_min:   sec2min(val(cap.timeRemaining)),\n        consumedAh:          C2A(val(cap.consumedCharge)),\n        capacity_Ah:         C2A(val(cap.nominal)),\n        temperature_C:       K2C(val(b.temperature)),\n        midpointVoltage_V:   r2(val(b.midPointVoltage)),\n        midpointDeviation_pct: frac2pct(val(b.midPointDeviationVoltage)),\n        starterVoltage_V:    r2(val(b.starter?.voltage ?? b.starterVoltage)),\n        chargeEfficiency_pct:frac2pct(val(b.chargeEfficiency)),\n        lowVoltageAlarm:     val(b.lowVoltageAlarm),\n        highVoltageAlarm:    val(b.highVoltageAlarm),\n    };\n}\n\n// ── Inverter / Charger (MultiPlus, Quattro, Phoenix) ─────────────────────────\nconst inverters = {};\nfor (const [id, inv] of Object.entries(elec.inverter || {})) {\n    if (typeof inv !== 'object') continue;\n    const buildPhase = (phases) => {\n        const out = {};\n        for (const [ph, p] of Object.entries(phases || {})) {\n            if (typeof p !== 'object') continue;\n            out[ph] = {\n                voltage_V:      r2(val(p.voltage)),\n                current_A:      r2(val(p.current)),\n                frequency_Hz:   r2(val(p.frequency)),\n                power_W:        r2(val(p.power)),\n                apparentPower_VA: r2(val(p.apparentPower)),\n                powerFactor:    r2(val(p.powerFactor)),\n            };\n        }\n        return out;\n    };\n    inverters[id] = {\n        operatingMode:  val(inv.operatingMode),\n        state:          val(inv.state),\n        activeInput:    val(inv?.ac?.activeInput),\n        dc: {\n            voltage_V:  r2(val(inv?.dc?.voltage)),\n            current_A:  r2(val(inv?.dc?.current)),\n            power_W:    r2(val(inv?.dc?.power)),\n        },\n        acIn:  buildPhase(inv?.ac?.in),\n        acOut: buildPhase(inv?.ac?.out),\n    };\n}\n\n// ── AC Grid / Shore power ─────────────────────────────────────────────────────\nconst acGrid = {};\nfor (const [ph, p] of Object.entries(elec?.ac?.main || {})) {\n    if (typeof p !== 'object') continue;\n    acGrid[ph] = {\n        voltage_V:    r2(val(p.voltage)),\n        current_A:    r2(val(p.current)),\n        frequency_Hz: r2(val(p.frequency)),\n        power_W:      r2(val(p.power)),\n        energy_kWh:   r2(val(p.energy) / 1000),\n    };\n}\n\n// ── AC Output / Loads ─────────────────────────────────────────────────────────\nconst acLoads = {};\nfor (const [ph, p] of Object.entries(elec?.ac?.out || {})) {\n    if (typeof p !== 'object') continue;\n    acLoads[ph] = {\n        voltage_V:    r2(val(p.voltage)),\n        current_A:    r2(val(p.current)),\n        frequency_Hz: r2(val(p.frequency)),\n        power_W:      r2(val(p.power)),\n    };\n}\n\n// ── Generator ─────────────────────────────────────────────────────────────────\nconst genset = {};\nfor (const [ph, p] of Object.entries(elec?.ac?.genset || {})) {\n    if (typeof p !== 'object') continue;\n    genset[ph] = {\n        voltage_V:    r2(val(p.voltage)),\n        current_A:    r2(val(p.current)),\n        frequency_Hz: r2(val(p.frequency)),\n        power_W:      r2(val(p.power)),\n        runtime_h:    sec2h(val(p.runTime ?? p.runtime)),\n        running:      val(p.running ?? p.state),\n    };\n}\n\n// ── DC System ─────────────────────────────────────────────────────────────────\nconst dc = {\n    systemVoltage_V:  r2(val(elec?.dc?.system?.voltage)),\n    systemCurrent_A:  r2(val(elec?.dc?.system?.current)),\n    systemPower_W:    r2(val(elec?.dc?.system?.power)),\n};\n\n// ── Tanks ─────────────────────────────────────────────────────────────────────\nconst tankData = {};\nfor (const [id, t] of Object.entries(tanks)) {\n    if (typeof t !== 'object') continue;\n    const level    = val(t.currentLevel);\n    const capacity = val(t.capacity);\n    tankData[id] = {\n        type:        val(t.type),\n        level_pct:   frac2pct(level),\n        capacity_L:  m32L(capacity),\n        remaining_L: (level !== null && capacity !== null) ? r2(level * capacity * 1000) : null,\n    };\n}\n\n// ── Environment ───────────────────────────────────────────────────────────────\nconst environment = {\n    inside: {\n        temperature_C: K2C(val(env?.inside?.temperature)),\n        humidity_pct:  frac2pct(val(env?.inside?.humidity)),\n    },\n    outside: {\n        temperature_C: K2C(val(env?.outside?.temperature)),\n        humidity_pct:  frac2pct(val(env?.outside?.humidity)),\n        pressure_hPa:  r2((val(env?.outside?.pressure) ?? 0) / 100) || null,\n    },\n    water: {\n        temperature_C: K2C(val(env?.water?.temperature)),\n    },\n    solar: {\n        irradiance_Wm2: r2(val(env?.solar?.irradiance ?? env?.outside?.irradiance)),\n    },\n};\n\n// ── Navigation / GPS ─────────────────────────────────────────────────────────\nconst position = val(nav?.position);\nconst navigation = {\n    latitude:              position?.latitude  ?? null,\n    longitude:             position?.longitude ?? null,\n    speedOverGround_ms:    r2(val(nav?.speedOverGround)),\n    courseOverGround_deg:  rad2deg(val(nav?.courseOverGround)),\n    headingTrue_deg:       rad2deg(val(nav?.headingTrue)),\n    headingMagnetic_deg:   rad2deg(val(nav?.headingMagnetic)),\n    altitude_m:            r2(val(nav?.altitude ?? nav?.gnss?.antennaAltitude)),\n    satellites:            val(nav?.gnss?.satellites),\n    fixType:               val(nav?.gnss?.methodQuality ?? nav?.gnss?.type),\n};\n\nmsg.payload = {\n    timestamp: new Date().toISOString().replace('T', ' ').substring(0, 19),\n    portalId: flow.get('portalId') || 'unknown',\n    solar,\n    batteries,\n    inverters,\n    acGrid,\n    acLoads,\n    genset,\n    dc,\n    tanks: tankData,\n    environment,\n    navigation,\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 120,
    "wires": [["set-headers", "debug-out", "format-influx"]]
  },
  {
    "id": "set-headers",
    "type": "function",
    "z": "solar-tab",
    "name": "Set headers",
    "func": "msg.headers = {\n    'Content-Type': 'application/json',\n    'X-Api-Key': 'change-me-to-a-secret-key'\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 100,
    "wires": [["post-to-server"]]
  },
  {
    "id": "post-to-server",
    "type": "http request",
    "z": "solar-tab",
    "name": "POST to PHP endpoint",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.0.3:9999/",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "x": 920,
    "y": 100,
    "wires": [["debug-response"]]
  },
  {
    "id": "debug-out",
    "type": "debug",
    "z": "solar-tab",
    "name": "Payload preview",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 160,
    "wires": []
  },
  {
    "id": "debug-response",
    "type": "debug",
    "z": "solar-tab",
    "name": "Server response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1110,
    "y": 100,
    "wires": []
  },
  {
    "id": "format-influx",
    "type": "function",
    "z": "solar-tab",
    "name": "Format InfluxDB line protocol",
    "func": "// ── InfluxDB v2 Line Protocol formatter ──────────────────────────────────────\n// TOKEN: change 'INFLUX_TOKEN_HERE' here AND in docker-compose.yml AND\n//        in grafana/provisioning/datasources/influxdb.yaml\nconst INFLUX_TOKEN = 'INFLUX_TOKEN_HERE';\n\n// Nanosecond timestamp: Date.now() is ms; append 6 zeros to get ns\nconst tsNs = String(Date.now()) + '000000';\n\n// Escape spaces, commas, equals in tag keys/values and field keys\nfunction esc(s) {\n    return String(s).replace(/[, =]/g, '\\\\$&');\n}\n\n// Return 'key=value,...' for all non-null numeric properties of obj\nfunction numFields(obj) {\n    return Object.entries(obj)\n        .filter(([, v]) => v !== null && v !== undefined && typeof v === 'number')\n        .map(([k, v]) => esc(k) + '=' + v)\n        .join(',');\n}\n\nconst lines = [];\nconst p = msg.payload;\n\n// solar_charger — one line per charger ID\nfor (const [id, c] of Object.entries(p.solar || {})) {\n    const fields = numFields(c);\n    if (fields) lines.push('solar_charger,id=' + esc(id) + ' ' + fields + ' ' + tsNs);\n}\n\n// battery — one line per battery ID\nfor (const [id, b] of Object.entries(p.batteries || {})) {\n    const fields = numFields(b);\n    if (fields) lines.push('battery,id=' + esc(id) + ' ' + fields + ' ' + tsNs);\n}\n\n// inverter — dc voltage/current/power only, one line per inverter ID\nfor (const [id, inv] of Object.entries(p.inverters || {})) {\n    const dc = inv.dc || {};\n    const fields = numFields(dc);\n    if (fields) lines.push('inverter,id=' + esc(id) + ' ' + fields + ' ' + tsNs);\n}\n\n// environment — flatten nested zone objects into a single line\nconst env = p.environment || {};\nconst envFields = [];\nfor (const [zone, vals] of Object.entries(env)) {\n    if (vals && typeof vals === 'object') {\n        for (const [key, v] of Object.entries(vals)) {\n            if (v !== null && v !== undefined && typeof v === 'number') {\n                envFields.push(esc(zone + '_' + key) + '=' + v);\n            }\n        }\n    }\n}\nif (envFields.length) lines.push('environment ' + envFields.join(',') + ' ' + tsNs);\n\n// tanks — one line per tank ID, tags: id, type\nfor (const [id, t] of Object.entries(p.tanks || {})) {\n    const tagType = (t.type !== null && t.type !== undefined)\n        ? ',type=' + esc(String(t.type)) : '';\n    const fields = numFields({ level_pct: t.level_pct, remaining_L: t.remaining_L });\n    if (fields) lines.push('tanks,id=' + esc(id) + tagType + ' ' + fields + ' ' + tsNs);\n}\n\n// navigation — single line with lat, lon, speed, satellites\nconst nav = p.navigation || {};\nconst navFields = numFields({\n    lat:        nav.latitude,\n    lon:        nav.longitude,\n    speed:      nav.speedOverGround_ms,\n    satellites: nav.satellites,\n});\nif (navFields) lines.push('navigation ' + navFields + ' ' + tsNs);\n\nmsg.payload = lines.join('\\n');\nmsg.headers = {\n    'Authorization': 'Token ' + INFLUX_TOKEN,\n    'Content-Type':  'text/plain; charset=utf-8',\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 240,
    "wires": [["post-influx"]]
  },
  {
    "id": "post-influx",
    "type": "http request",
    "z": "solar-tab",
    "name": "POST to InfluxDB v2",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.0.3:8086/api/v2/write?org=solar&bucket=victron&precision=ns",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "x": 990,
    "y": 240,
    "wires": [["debug-influx"]]
  },
  {
    "id": "debug-influx",
    "type": "debug",
    "z": "solar-tab",
    "name": "InfluxDB response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1180,
    "y": 240,
    "wires": []
  },

  {
    "id": "portal-discover-inject",
    "type": "inject",
    "z": "solar-tab",
    "name": "Discover Portal ID",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 340,
    "wires": [[]]
  },

  {
    "id": "reboot-inject-scheduled",
    "type": "inject",
    "z": "venus-reboot-tab",
    "name": "Scheduled reboot (Mon 5am)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "00 05 * * 1",
    "once": false,
    "onceDelay": "0.1",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 190,
    "y": 100,
    "wires": [["reboot-trigger"]]
  },
  {
    "id": "reboot-trigger",
    "type": "trigger",
    "z": "venus-reboot-tab",
    "name": "Trigger reboot",
    "op1": "1",
    "op2": "0",
    "op1type": "num",
    "op2type": "num",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 450,
    "y": 100,
    "wires": [["reboot-victron-output"]]
  },
  {
    "id": "reboot-victron-output",
    "type": "victron-output-custom",
    "z": "venus-reboot-tab",
    "name": "Reboot Venus OS",
    "service": "com.victronenergy.platform/0",
    "path": "/Device/Reboot",
    "serviceObj": {
      "name": "com.victronenergy.platform/0",
      "service": "com.victronenergy.platform/0"
    },
    "pathObj": {
      "path": "/Device/Reboot",
      "type": "number",
      "name": "Reboot"
    },
    "x": 680,
    "y": 100,
    "wires": []
  },
  {
    "id": "reboot-inject-manual",
    "type": "inject",
    "z": "venus-reboot-tab",
    "name": "Manual reboot (trigger once)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "0.1",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 190,
    "y": 220,
    "wires": [["reboot-trigger"]]
  },
  {
    "id": "reboot-http-in",
    "type": "http in",
    "z": "venus-reboot-tab",
    "name": "HTTP reboot trigger",
    "url": "/reboot",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 340,
    "wires": [["reboot-fn-response", "reboot-trigger"]]
  },
  {
    "id": "reboot-fn-response",
    "type": "function",
    "z": "venus-reboot-tab",
    "name": "Set response",
    "func": "msg.payload = { status: 'rebooting' };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 340,
    "wires": [["reboot-http-response"]]
  },
  {
    "id": "reboot-http-response",
    "type": "http response",
    "z": "venus-reboot-tab",
    "name": "HTTP 200 rebooting",
    "statusCode": "200",
    "headers": { "content-type": "application/json" },
    "x": 640,
    "y": 340,
    "wires": []
  },

  {
    "id": "device-agnostic-comment",
    "type": "comment",
    "z": "venus-reboot-tab",
    "name": "DEVICE-AGNOSTIC: No hardcoded IDs. Portal ID and device instances are discovered at startup via MQTT. Deploy this flow identically to any Venus OS device.",
    "info": "",
    "x": 220,
    "y": 440,
    "wires": []
  },

  {
    "id": "discover-inject",
    "type": "inject",
    "z": "venus-reboot-tab",
    "name": "Discover devices on startup",
    "props": [{ "p": "payload" }],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 520,
    "wires": [["dbus-exec"]]
  },
  {
    "id": "dbus-exec",
    "type": "exec",
    "z": "venus-reboot-tab",
    "name": "Get portal ID (D-Bus)",
    "command": "dbus-send --system --print-reply --dest=com.victronenergy.system /Serial com.victronenergy.BusItem.GetValue",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "5",
    "winHide": false,
    "oldrc": false,
    "outputs": 3,
    "x": 400,
    "y": 520,
    "wires": [["portal-dbus-parse-fn"], [], []]
  },
  {
    "id": "portal-dbus-parse-fn",
    "type": "function",
    "z": "venus-reboot-tab",
    "name": "Parse portal ID",
    "func": "// dbus-send stdout contains: variant string \"abc123\"\nconst match = (msg.payload || '').match(/string\\s+\"([a-f0-9A-F]+)\"/i);\nif (match) {\n    const portalId = match[1].toLowerCase();\n    flow.set('portalId', portalId);\n    node.status({fill:'green', shape:'dot', text:'portalId: ' + portalId});\n    node.log('Portal ID set: ' + portalId);\n    msg.payload = portalId;\n    return msg;\n}\nnode.warn('D-Bus parse failed. Raw output: ' + msg.payload);\nnode.status({fill:'red', shape:'dot', text:'D-Bus parse failed'});\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 520,
    "wires": [["portal-keepalive-topics-fn"]]
  },
  {
    "id": "portal-keepalive-topics-fn",
    "type": "function",
    "z": "venus-reboot-tab",
    "name": "Build keepalive",
    "func": "const portalId = flow.get('portalId');\nmsg.topic = 'R/' + portalId + '/system/0/Serial';\nmsg.payload = '';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 520,
    "wires": [["portal-discover-delay"]]
  },
  {
    "id": "portal-discover-delay",
    "type": "delay",
    "z": "venus-reboot-tab",
    "name": "Wait 1 s",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1100,
    "y": 520,
    "wires": [["portal-keepalive-mqtt-out"]]
  },
  {
    "id": "portal-keepalive-mqtt-out",
    "type": "mqtt out",
    "z": "venus-reboot-tab",
    "name": "Keepalive \u2192 Venus MQTT",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-local",
    "x": 1300,
    "y": 520,
    "wires": [["portal-device-discover-fn"]]
  },

  {
    "id": "discover-chargers-in",
    "type": "mqtt in",
    "z": "venus-reboot-tab",
    "name": "Listen for chargers",
    "topic": "N/+/solarcharger/+/DeviceInstance",
    "qos": "2",
    "datatype": "json",
    "broker": "mqtt-broker-local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 600,
    "wires": [["discover-fn-charger"]]
  },
  {
    "id": "discover-fn-charger",
    "type": "function",
    "z": "venus-reboot-tab",
    "name": "Store charger instance",
    "func": "// topic format: N/{portalId}/solarcharger/{instanceId}/DeviceInstance\nconst parts = msg.topic.split('/');\nconst portalId = parts[1];\nconst instanceId = parts[3];\nflow.set('portalId', portalId);\nconst chargers = flow.get('chargers') || [];\nif (!chargers.includes(instanceId)) {\n    chargers.push(instanceId);\n    flow.set('chargers', chargers);\n}\nnode.status({fill:'green', shape:'dot', text: `Found charger ${instanceId} on ${portalId}`});\nreturn null; // don't pass message on",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 600,
    "wires": [[]]
  },

  {
    "id": "portal-device-discover-fn",
    "type": "function",
    "z": "venus-reboot-tab",
    "name": "Request device list",
    "func": "const portalId = flow.get('portalId');\nmsg.topic = 'R/' + portalId + '/solarcharger/+/DeviceInstance';\nmsg.payload = '';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1300,
    "y": 580,
    "wires": [["portal-device-discover-mqtt-out"]]
  },
  {
    "id": "portal-device-discover-mqtt-out",
    "type": "mqtt out",
    "z": "venus-reboot-tab",
    "name": "Request charger list",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-local",
    "x": 1520,
    "y": 580,
    "wires": []
  },

  {
    "id": "discover-batteries-in",
    "type": "mqtt in",
    "z": "venus-reboot-tab",
    "name": "Listen for batteries",
    "topic": "N/+/battery/+/DeviceInstance",
    "qos": "2",
    "datatype": "json",
    "broker": "mqtt-broker-local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 700,
    "wires": [["discover-fn-battery"]]
  },
  {
    "id": "discover-fn-battery",
    "type": "function",
    "z": "venus-reboot-tab",
    "name": "Store battery instance",
    "func": "const parts = msg.topic.split('/');\nconst instanceId = parts[3];\nconst batteries = flow.get('batteries') || [];\nif (!batteries.includes(instanceId)) {\n    batteries.push(instanceId);\n    flow.set('batteries', instanceId);\n}\nnode.status({fill:'green', shape:'dot', text: `Found battery ${instanceId}`});\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 700,
    "wires": [[]]
  },

  {
    "id": "mppt-restart-inject",
    "type": "inject",
    "z": "venus-reboot-tab",
    "name": "Restart MPPT (all chargers)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "0.1",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 170,
    "y": 880,
    "wires": [["mppt-mqtt-fn-off", "debug-mppt-trigger"]]
  },
  {
    "id": "mppt-mqtt-fn-off",
    "type": "function",
    "z": "venus-reboot-tab",
    "name": "Build MPPT OFF command",
    "func": "node.log('[MPPT] Building OFF command...');\nnode.status({fill:'yellow', shape:'ring', text:'Building OFF command...'});\n\nconst portalId = flow.get('portalId');\nconst chargers = flow.get('chargers') || [];\n\nnode.log('[MPPT] portalId=' + portalId + ' chargers=' + JSON.stringify(chargers));\n\nif (!portalId) {\n    node.warn('[MPPT] Aborted \u2014 portalId not discovered yet');\n    node.status({fill:'red', shape:'dot', text:'No portalId \u2014 run discovery first'});\n    return null;\n}\nif (chargers.length === 0) {\n    node.warn('[MPPT] Aborted \u2014 no chargers discovered yet');\n    node.status({fill:'red', shape:'dot', text:'No chargers found'});\n    return null;\n}\n\nconst topic = 'W/' + portalId + '/solarcharger/' + chargers[0] + '/Mode';\nconst payload = JSON.stringify({value: 4});\nnode.log('[MPPT] OFF command ready: topic=' + topic + ' payload=' + payload);\nnode.status({fill:'orange', shape:'dot', text:'OFF \u2192 ' + chargers.join(',')});\n\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 880,
    "wires": [["debug-mppt-off-built", "mppt-mqtt-off"]]
  },
  {
    "id": "mppt-mqtt-off",
    "type": "mqtt out",
    "z": "venus-reboot-tab",
    "name": "MPPT \u2192 OFF via MQTT",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-local",
    "x": 640,
    "y": 880,
    "wires": [["mppt-mqtt-delay", "debug-mppt-off-sent"]]
  },
  {
    "id": "mppt-debug-off",
    "type": "debug",
    "z": "venus-reboot-tab",
    "name": "OFF published",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 960,
    "wires": []
  },
  {
    "id": "mppt-mqtt-delay",
    "type": "delay",
    "z": "venus-reboot-tab",
    "name": "Wait 5 s",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 840,
    "y": 880,
    "wires": [["mppt-mqtt-fn-on"]]
  },
  {
    "id": "mppt-mqtt-fn-on",
    "type": "function",
    "z": "venus-reboot-tab",
    "name": "Build MPPT ON command",
    "func": "node.log('[MPPT] Building ON command...');\nconst portalId = flow.get('portalId');\nconst chargers = flow.get('chargers') || [];\nconst topic = 'W/' + portalId + '/solarcharger/' + chargers[0] + '/Mode';\nconst payload = JSON.stringify({value: 1});\nnode.log('[MPPT] ON command ready: topic=' + topic + ' payload=' + payload);\nnode.status({fill:'blue', shape:'dot', text:'ON \u2192 ' + chargers.join(',')});\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1040,
    "y": 880,
    "wires": [["debug-mppt-on-built", "mppt-mqtt-on"]]
  },
  {
    "id": "mppt-mqtt-on",
    "type": "mqtt out",
    "z": "venus-reboot-tab",
    "name": "MPPT \u2192 ON via MQTT",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-local",
    "x": 1240,
    "y": 880,
    "wires": [["mppt-debug-on", "debug-mppt-on-sent"]]
  },
  {
    "id": "mppt-debug-on",
    "type": "debug",
    "z": "venus-reboot-tab",
    "name": "ON published",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1240,
    "y": 960,
    "wires": []
  },

  {
    "id": "mppt-http-in",
    "type": "http in",
    "z": "venus-reboot-tab",
    "name": "HTTP restart MPPT",
    "url": "/restart-mppt",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 1060,
    "wires": [["mppt-http-fn-resp", "mppt-mqtt-fn-off"]]
  },
  {
    "id": "mppt-http-fn-resp",
    "type": "function",
    "z": "venus-reboot-tab",
    "name": "HTTP response payload",
    "func": "msg.payload = { status: 'restarting', chargers: flow.get('chargers') };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 1060,
    "wires": [["mppt-http-resp"]]
  },
  {
    "id": "mppt-http-resp",
    "type": "http response",
    "z": "venus-reboot-tab",
    "name": "HTTP 200 restarting",
    "statusCode": "200",
    "headers": { "content-type": "application/json" },
    "x": 640,
    "y": 1060,
    "wires": []
  },

  {
    "id": "debug-mppt-trigger",
    "type": "debug",
    "z": "venus-reboot-tab",
    "name": "1. Restart triggered",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 170,
    "y": 940,
    "wires": []
  },
  {
    "id": "debug-mppt-off-built",
    "type": "debug",
    "z": "venus-reboot-tab",
    "name": "2. OFF command built",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": true,
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 940,
    "wires": []
  },
  {
    "id": "debug-mppt-off-sent",
    "type": "debug",
    "z": "venus-reboot-tab",
    "name": "3. OFF dispatched via MQTT",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": true,
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 940,
    "wires": []
  },
  {
    "id": "debug-mppt-on-built",
    "type": "debug",
    "z": "venus-reboot-tab",
    "name": "4. ON command built",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": true,
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1280,
    "y": 940,
    "wires": []
  },
  {
    "id": "debug-mppt-on-sent",
    "type": "debug",
    "z": "venus-reboot-tab",
    "name": "5. ON dispatched — restart complete",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": true,
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1240,
    "y": 940,
    "wires": []
  }
]
